body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar__logo {
  font-size: 23px;
  margin-left: 20px;
  font-weight: 600;
}

.navbar__logo h6 {
  margin: 0px 0px 0px 5px;
  font-size: 17px;
  font-weight: 800;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 25px;
  font-size: 20px;
  font-weight: 600;
}

.main-board-con-list {
  display: flex;
  justify-content: space-around;
}

.main-board-tit-box {
  font-size: 20px;
  border-bottom: 2px solid black;
}

.main-board-tit-box h4 {
  margin: 50px 0px 15px 0px;
}

.main-board-list-box {
  font-size: 13px;
  color: black;
}

#mainContainer {
  padding: 0px 10px 0px 10px;
}

.mainVisual img {
  width: 100%;
}

.main-quick-menu-list {
  list-style: none;
  display: table;
  table-layout: fixed;
  border-spacing: 50px;
  width: 100%;
  padding-left: 0px;
}

.main-quick-menu-list li {
  display: table-cell;
  background-color: #f2f2f2;
  padding: 20px 0px;
  border: 0.01px solid gray;
}

.clearfix dt {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 20px;
}

.clearfix dd {
  margin-left: 0px;
  text-align: center;
  vertical-align: middle;
}

/* company */

.company-mainVisual img {
  width: 100%;
}
