/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-blue: #63a4ff;
  --color-blue: #1976d2;
  --color-dark-blue: #004ba0;
  --color-light-orange: #ffd149;
  --color-orange: #ffa000;
  --color-dark-orange: #c67100;
  --color-light-gray: #fbfbfb;
  --color-semi-gray: #8f8f8f;
  --color-gray: #888788;
  --color-dark-gray: #373737;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans";
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.moreButton {
  color: var(--color-dark-gray);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-gray);
  border-radius: var(--size-border-radius);
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-gray);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 8px 0px;
  padding-bottom: 36px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-gray);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-gray);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu li:hover {
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-white);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo img {
  width: 230px;
}

.navbar__menu__item:hover {
  background-color: var(--color-gray);
}

.navbar__toggle-btn {
  position: absolute;
  top: 40px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background-color: var(--color-dark-gray);
  padding: 0px 0px 20px 0px;
  text-align: center;
}

.home__avatar {
  width: 100%;
}

.home__description,
.home__title {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-dark-gray);
}

/* Section Common */
.section {
  padding: 40px 60px;
  text-align: center;
  margin: auto;
  background-color: var(--color-light-gray);
}

/* About */
#about img {
  width: 100%;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 60px;
  margin: auto;
}

.major {
  border-radius: var(--size-border-radius);
  padding: 40px;
  background-color: var(--color-semi-gray);
  color: var(--color-white);
}

.major__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.major__decription {
  font-size: var(--font-small);
}

.major__icon:hover {
  color: var(--color-dark-gray);
  transform: rotate(10deg) scale(1.1);
}

.major__icon i {
  transition: all 300ms ease;
}

/* Consulting */
#consulting img {
  width: 100%;
}

/* Edu&License */
#edu img {
  width: 100%;
}

.edu__curriculum {
  text-align: center;
}

.edu__curriculum h1 {
  padding: 48px 0 24px 0;
  font-size: calc(var(--font-large) / 1.2);
}

.edu__curriculum h2 {
  padding-bottom: 48px;
  font-size: calc(var(--font-regular) / 1.2);
}

.edu__curriculum h1,
.edu__curriculum h2 {
  margin: 0;
}

.edu__curriculum-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.edu__curriculum-title {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding: 30px;
  margin-right: 20px;
  border-radius: var(--size-border-radius);
  border: 1px solid var(--color-white);
}

.edu__curriculum-info {
  color: var(--color-dark-gray);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  padding: 15px;
}

/* Software */
#software img {
  width: 100%;
}

#software h4 {
  font-size: var(--font-regular);
}
.software__idea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.software__idea-set {
  margin: 0 20px;
}

.software__idea-set h1 {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
}

.software__idea-set h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

/* Contact */
#contact {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 20px 120px;
  font-size: calc(var(--font-small) / 1.5);
}

#contact p {
  font-size: var(--font-micro);
  color: var(--color-white);
  text-align: center;
}

.contact__rights {
  font-weight: var(--weight-bold);
}

.contact__infoCall {
  display: flex;
  flex-direction: column;
}

.contact__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__infoIcon img {
  width: 220px;
}

.contact__infoLocal--name,
.contact__infoLocal--place,
.contact__infoLocal--number {
  margin-bottom: 7px;
}

.contact__infoCall--tell,
.contact__infoCall--fax,
.contact__infoCall--email {
  margin-top: 7px;
}

.contact__infoCall--tell {
  display: flex;
}

.contact__infoCall--tellFirst {
  margin-right: 22px;
  font-weight: var(--weight-semi-bold);
}

.contact__infoCall--fax {
  display: flex;
}

.contact__infoCall--faxFirst {
  margin-right: 22px;
  font-weight: var(--weight-semi-bold);
}

.contact__infoCall--email {
  display: flex;
}

.contact__infoCall--emailFirst {
  margin-right: 10px;
  font-weight: var(--weight-semi-bold);
}

/* For Below 940px screen width */
@media screen and (max-width: 940px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .about__majors {
    flex-direction: column;
    width: 40%;
    margin: auto;
  }

  .major {
    margin-bottom: 36px;
  }

  #contact {
    display: none;
  }
}

/* Door */

.about__door img {
  width: 100%;
  margin: 0;
}

/* Menu */
.about__menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: var(--color-dark-gray);
}

.about__menu span {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

/* Content */
.about__content {
  padding: 40px 60px;
}

.about__content img {
  width: 100%;
}
